<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @venue.name %>
</p>

<p>
  <b>Street:</b>
  <%= @venue.street %>
</p>

<p>
  <b>City:</b>
  <%= @venue.city %>
</p>

<p>
  <b>Postcode:</b>
  <%= @venue.postcode %>
</p>

<!--<p>
  <b>Review:</b>
  <%= @venue.review %>
</p> !-->

<p>
  <b>Average Star rating:</b>
  <%= @venue.avg_star_rating %>
</p>

<p>
  <b>Health rating:</b>
  <%= @venue.health_rating %>
</p>


<p>
  <b>Health rating date:</b>
  <%= @venue.health_rating_date %>
</p>

<p>
  <b>Longitude:</b>
  <%= @venue.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @venue.latitude %>
</p>

<%= button_to 'Create a new Review', new_review_path(:venue_id => @venue.id) %>

      <div><h2>Reviews</h2></div>

   <% @reviews.each do |review| %>
   <p> <%= review.updated_at  %></p>
    <p><%= review.review_summary %></p>



           <div>
              <p>Star Rating: <%= review.star_rating %></p>
              <p>Review Text: <%= review.review_text %></p>
           </div>

        <%end%>


	<p><% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      	<% end %></p>

<!--<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %> !--> 
