<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :venue_id %><br />
    <%= f.number_field :venue_id %>
  </div>
  <div class="field">
    <%= f.label :star_rating %><br />
    <%= f.text_field :star_rating %>
  </div>
  <div class="field">
    <%= f.label :review_summary %><br />
    <%= f.text_field :review_summary %>
  </div>
  <div class="field">
    <%= f.label :review_text %><br />
    <%= f.text_area :review_text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
